body{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 50px;
    color: white;
}
.heading-contain{
    display:flex;
    justify-content: space-between;
    padding-top: 30px;
    height: 500px;
}
.heading{
    width: 200px;
    margin-left: 170px;
}
.heading-img{
    margin-right: 100px;
    width: 500px;
    height: 200px;
}
.heading-img img{
    width: 100%;
    margin-top: 30px;
}
.heading-img img:hover{
    opacity: 0.3
}
a{
    text-decoration: none;
    border: 1px;
    background-color: greenyellow;
    border-radius: 5px;
    padding: 10px;
}
a:hover{
    background-color: black;
    color: white;
    width: 10px;
}
.heading-contain{
    background-color: blue;
}
/* all-players-style */
.player{
display: grid;
/* grid-template-columns: repeat(3, 1fr) */
grid-template-columns: repeat(3, 1fr);
}
.player img{
    width: 300px;
    height: 256px;    
}
.all-players{
    margin-top: 80px;
    margin-left: 129px;
    padding-right: 109px;
}
.box-style{
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    box-shadow:0px 3px 10px gray;
}
.player-image{
margin-left: 50px;
}
.box-style p{
    text-align: justify;
    color: gray;
}
.all-player-contain{
    padding-bottom: 100px;
}
.summary{
width: 500px;
}
.summary h2{
    color: black;
}
.high-light{
    display: flex;
    margin-left: 100px;
    /* width: 500px; */
}
.img-position img{
    width: 500px;
    margin-right: 100px;
}
.copa-america{
    width: 800px;
}
.img-position {
    transform: translate3d(299px, 90px, 94px);
}
.copa-america{
    display: flex;
}
.logo img{
    width: 400px;
    transform: translate3d(470px, 120px, 10px);
}
.social-media {
    width: 300px;
    transform: translate3d(680px, 140px, 10px);
}
.social-media a{
    background-color: gray;
}
footer {
    width: 299px;
    transform: translate3d(650px, 181px, 10px);
}
/* @media only screen and (max-width:688px)  */
@media only screen and (max-width:688px) {
    .heading-contain{
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: auto;
    } 
    .heading-img{
        width: fit-content;
        height: auto;
    }
    .heading{
        width: fit-content;
        height: auto;
    }
    .player{
        display: flex;
        flex-direction: column;
    }
    .high-light{
        display: flex;
        flex-direction: column;
        height: 900px;
        width: 700px;
        margin-left: 155px;
    }
    .img-position{
        width: 300px;
        height: auto;
        transform: translate3d(-5px, 55px, 10px);
    }
    .summary{
        width: 300px;
        height: auto;
    }
    .img-position img{
        width: 100%
    }
    .logo{
        width: fit-content;
        height: auto;
    }
    .logo img {
        height: auto;
        transform: translate3d(65px, 15px, 10px);
    }
    .social-media {
        width: 300px;
        /* position: relative; */
        transform: translate3d(230px, 50px, 10px);
    }
    footer {
        width: 300px;
        padding-bottom: 100px;
        transform: translate3d(200px, 90px, 10px);
    }
}
